<footer>
    <address>
        <span>Todos os direitos reservados - 2022</span>
        <a id="autor" href="https://www.linkedin.com/in/tiago-silva-machado-6b85982b/" target="_blank">Tiago Machado</a>
    </address>
</footer>