<header>
    <nav>
        <ul>
            <li><a href="/posicao">POSIÇÃO</a></li>
            <li><a href="/bovespa">BOVESPA</a></li>
            <li><a href="">BMeF</a></li>
            <li><a href="">DARF</a></li>
            <li><a href="">DECLARAÇÃO ANUAL IR</a></li>
        </ul>
    </nav>

</header>