<!DOCTYPE html>
<html lang="pt-br">
<%- include("../partials/head"); %> 
<body>
    <%- include("../partials/header") %>  

    <main>
        <form action="" method="post">
            <h1>BOVESPA - REGISTRO DE OPERAÇÕES</h1>
            <fieldset class="nota">
                <legend>Nota de Corretagem</legend>
                <label for="data">Data</label>
                <input type="date" name="data" id="data" onclick="hoje()" required>
                <label for="corretagem">Corretagem</label>
                <input type="number" step="0.01" min="0" name="corretagem" id="corretagem">
                <label for="irrf">IRRF</label>
                <input type="number" step="0.01" min="0" name="irrf" id="irrf">
                <label for="emolumentos">Emolumentos</label>
                <input type="number" step="0.01" min="0" name="emolumentos" id="emolumentos">
            </fieldset>
            
            <fieldset id="ativoFildset" class="operacoes">
                <legend>Operações</legend>
                <!-- <fieldset class="operacao">
                    <div class="contador">1</div> <input type="text" name="ativo" title="Ativo" placeholder="ATIVO" required><select name="tipo" required title="Tipo"> <option value="" hidden>selecione tipo</option><option value=1>compra</option><option value=0>venda</option></select><select name="swingtrade" required title="Prazo"><option value="" hidden>selecione prazo</option><option value=1>swingtrade</option><option value=0>daytrade</option></select><input type="number" name="quantidade" min="1" title="Quantidade" placeholder="QUANTIDADE" required><input type="number" name="preco" step="0.01" title="Preço" placeholder="PREÇO" required>                    <button type="button" onclick="removeOperacao(this);" class="delOperacao" title="Excluir operação">X</button>
                </fieldset> -->
            </fieldset>
            
            <fieldset class="botao" >
                <button type="button" id="adicionar" class="botao">adicionar</button>
                <button type="submit"  id="enviar" class="botao">enviar</button>
            </fieldset>
        </form>
    </main>
    
    <%- include("../partials/footer") %>  
    <script src="../js/js1.js"></script>
</body>
</html>