<!DOCTYPE html>
<html lang="pt-br">
<%- include("../partials/head"); %> 
<body>
<%- include("../partials/header") %>  
    <main>
        <section>
                <table>
                    <caption><h1>posição</h1></caption>
                    <thead>
                        <th>Ativo</th>
                        <th>Tipo</th>
                        <th>Qtd.</th>
                        <th>Preço Médio</th>
                        <th>Cotação Atual</th>
                        <th>Valor Investido</th>
                        <th>Valor Atual</th>
                        <th>% da Carteira</th>
                        <th>Resultado ($)</th>
                        <th>Resultado (%)</th>
                        <th>Início da Operação</th>
                        <th>Última Operação</th>
                        <th>Mercado</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PETR4</td>
                            <td>Compra</td>
                            <td>1.000</td>
                            <td>R$ 27,60</td>
                            <td>R$ 32,87</td>
                            <td> R$ 27.600,00</td>
                            <td>R$ 32.870,00</td>
                            <td>20%</td>
                            <td>R$ 5.270,00</td>
                            <td>19,09%</td>
                            <td>02/05/2021</td>
                            <td>24/01/2022</td>
                            <td>Bovespa</td>
                        </tr>
                        <tr>
                            <td>PETR4</td>
                            <td>Compra</td>
                            <td>1.000</td>
                            <td>R$ 27,60</td>
                            <td>R$ 32,87</td>
                            <td> R$ 27.600,00</td>
                            <td>R$ 32.870,00</td>
                            <td>20%</td>
                            <td>R$ 5.270,00</td>
                            <td>19,09%</td>
                            <td>02/05/2021</td>
                            <td>24/01/2022</td>
                            <td>Bovespa</td>
                        </tr>
                        <tr>
                            <td>PETR4</td>
                            <td>Compra</td>
                            <td>1.000</td>
                            <td>R$ 27,60</td>
                            <td>R$ 32,87</td>
                            <td> R$ 27.600,00</td>
                            <td>R$ 32.870,00</td>
                            <td>20%</td>
                            <td>R$ 5.270,00</td>
                            <td>19,09%</td>
                            <td>02/05/2021</td>
                            <td>24/01/2022</td>
                            <td>Bovespa</td>
                        </tr>
                        <tr>
                            <td>PETR4</td>
                            <td>Compra</td>
                            <td>1.000</td>
                            <td>R$ 27,60</td>
                            <td>R$ 32,87</td>
                            <td> R$ 27.600,00</td>
                            <td>R$ 32.870,00</td>
                            <td>20%</td>
                            <td>R$ 5.270,00</td>
                            <td>19,09%</td>
                            <td>02/05/2021</td>
                            <td>24/01/2022</td>
                            <td>Bovespa</td>
                        </tr>
                        <tr>
                            <td>PETR4</td>
                            <td>Compra</td>
                            <td>1.000</td>
                            <td>R$ 27,60</td>
                            <td>R$ 32,87</td>
                            <td> R$ 27.600,00</td>
                            <td>R$ 32.870,00</td>
                            <td>20%</td>
                            <td>R$ 5.270,00</td>
                            <td>19,09%</td>
                            <td>02/05/2021</td>
                            <td>24/01/2022</td>
                            <td>Bovespa</td>
                        </tr>
                        <tr id="total">
                            <td>TOTAL</td>
                            <td colspan="4"></td>
                            <td>R$ 137.847,00</td>
                            <td>R$ 165.297,00</td>
                            <td>100%</td>
                            <td>R$ 26.350,00</td>
                            <td>19,09%</td>
                            <td colspan="3"></td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </main>
    <%- include("../partials/footer") %>  
</body>
</html>